<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style.css" />
	<title>Hello!</title>
</head>

<body>
	<main>
		<h1 class="header-newpost">Welcome!</h1>

		<section class="main-post">

		<div>
			<a href="register/">Зарегистрируйтесь, если Вы впервые у нас.</a>
		</div>
		<br>
		<div>
			<a href="login/">Авторизация!</a>
		</div>

		</section>

	</main>
</body>

</html>