<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/style.css">
</head>

<body>
    <h4>
        <a href="/articles/">Вернуться ко всем записям</a>
    </h4>
    <div class="content">
        <h1>Вход в систему</h1>
        <form method="POST">{% csrf_token %}
            <input type="text" name="username" placeholder="Юзернейм" value="{{ form.username }}">
            <input type="password" name="password" placeholder="Passord" value="{{ form.password }}">
            <input type="submit" value="Войти">
        </form>
        {{ form.errors }}
    </div>
</body>

</html>